In [135]:
# Import pandas
import pandas as pd

In [136]:
# Load the school and student data
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

In [137]:
# Create the data frames
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

In [138]:
# Combine the data into a single dataset.  
school_data_all = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_all.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [139]:
total_nbr_schools = school_data["school_name"].count()
total_nbr_schools

15

In [140]:
total_nbr_students = student_data["Student ID"].count()
total_nbr_students

39170

In [141]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [142]:
avg_math_score = student_data["math_score"].mean()
avg_math_score

78.98537145774827

In [143]:
avg_reading_score = student_data["reading_score"].mean()
avg_reading_score

81.87784018381414

In [144]:
percent_math_pass = ((student_data["math_score"] >= 70).sum()) / total_nbr_students * 100
percent_math_pass

74.9808526933878

In [145]:
percent_reading_pass = ((student_data["reading_score"] >= 70).sum()) / total_nbr_students * 100
percent_reading_pass

85.80546336482001

In [146]:
percent_overall_pass = (((student_data["reading_score"] >= 70) & (student_data["math_score"] >= 70)).sum())  / total_nbr_students * 100
percent_overall_pass

65.17232575950983

In [147]:
district_summary_info_df = pd.DataFrame({"Total Schools": [total_nbr_schools],
                              "Total Students": [total_nbr_students],
                              "Total Budget": [total_budget],
                              "Average Math Score": [avg_math_score],
                              "Average Reading Score": [avg_reading_score],
                              "% Passing Math": [percent_math_pass],
                              "% Passing Reading": [percent_reading_pass],
                              "% Overall Passing": [percent_overall_pass] })
district_summary_info_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [148]:
district_summary_info_df["Total Students"] = district_summary_info_df["Total Students"].map("{:,}".format)
district_summary_info_df["Total Budget"] = district_summary_info_df["Total Budget"].map("${:,.2f}".format)
district_summary_info_df["Average Math Score"] = (district_summary_info_df["Average Math Score"] / 100).map("{:.2%}".format)
district_summary_info_df["Average Reading Score"] = (district_summary_info_df["Average Reading Score"] / 100).map("{:.2%}".format)
district_summary_info_df["% Passing Math"] = (district_summary_info_df["% Passing Math"] / 100).map("{:.2%}".format)
district_summary_info_df["% Passing Reading"] = (district_summary_info_df["% Passing Reading"] / 100).map("{:.2%}".format)
district_summary_info_df["% Overall Passing"] = (district_summary_info_df["% Overall Passing"] / 100).map("{:.2%}".format)

district_summary_info_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,65.17%

In [184]:
grouped_schools_df = school_data_all.groupby(["school_name"])

# school_type = grouped_schools_df.loc[:,"type"]
school_budget = grouped_schools_df["budget"].sum()

school_budget.head()

# schools_df = pd.DataFrame({"Total Students": [school_nbr_students],
#                               "Total Budget": [school_budget],
#                               "Average Math Score": [school_avg_math],
#                               "Average Reading Score": [school_avg_reading]})

# school_nbr_students = grouped_schools_df["Student ID"].count()
# school_avg_math = grouped_schools_df["math_score"].mean()
# school_avg_reading = grouped_schools_df["reading_score"].mean()
# school_math_pass = ((grouped_schools_df["math_score"] >= 70).sum()) / school_nbr_students * 100
# school_reading_pass = ((grouped_schools_df["reading_score"] >= 70).sum()) / school_nbr_students * 100

# school_overall_pass = (((grouped_schools_df["reading_score"] >= 70) & (grouped_schools_df["math_score"] >= 70)).sum())  / school_nbr_students * 100

school_name
Bailey High School      15549641728
Cabrera High School      2009159448
Figueroa High School     5557128039
Ford High School         4831365924
Griffin High School      1346890000
Name: budget, dtype: int64

In [185]:
school_nbr_students = grouped_schools_df["Student ID"].count()
school_nbr_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [186]:
schools_df = pd.DataFrame({"Total Students": school_nbr_students,
                              "Total Budget": school_budget})

In [169]:
school_summary_info_df = pd.DataFrame({"School Type": [school_type],
                              "Total Students": [school_nbr_students],
                              "Total Budget": [school_budget],
                              "Average Math Score": [school_avg_math],
                              "Average Reading Score": [school_avg_reading]})
school_summary_info_df

# ,
#                               "% Passing Math": [percent_math_pass],
#                               "% Passing Reading": [percent_reading_pass],
#                               "% Overall Passing": [percent_overall_pass]

,School Type,Total Students,Total Budget,Average Math Score,Average Reading Score
0,<pandas.core.groupby.generic.SeriesGroupBy obj...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 155496417...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...