In [1]:
# Import pandas
import pandas as pd

In [2]:
# Load the school and student data
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv"

In [4]:
# Create the data frames
school_data = pd.read_csv(school_data_file)
student_data = pd.read_csv(student_data_file)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [6]:
# Combine the data into a single dataset.  
school_data_all = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [9]:
school_data_all.tail(100)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
39070,39070,Sheri Taylor,F,9th,Thomas High School,74,92,14,Charter,1635,1043130
39071,39071,Vanessa Wagner,F,12th,Thomas High School,90,97,14,Charter,1635,1043130
39072,39072,Amanda Ramirez,F,12th,Thomas High School,77,73,14,Charter,1635,1043130
39073,39073,Susan Gates,F,10th,Thomas High School,71,80,14,Charter,1635,1043130
39074,39074,Jason Lawrence,M,10th,Thomas High School,96,69,14,Charter,1635,1043130
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130